@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
    --primary: #2e5eaa;
    --primary-hover: #2e5eaa90 --secondary: #2a323c;
    --secondary-hover: #2a323c90;
}

body {
    margin: 0;
    padding: 0;
    color: white;
    background-color: #1d232a;
}
