---
import { Image } from 'astro:assets';
import { Github, Instagram, Linkedin } from '@lucide/astro';
import '../styles/global.css';
---

<main class='bg-white dark:bg-black min-h-screen w-full flex justify-center items-center h-screen'>
	<div class='flex flex-col items-center gap-4 w-full'>
		<Image width='160' height='160' alt='Foto do Eduardo Dorneles' class='rounded-full' src='/images/profile.webp' />

		<section class='grid justify-items-center grid-cols-3 gap-4'>
			<a
				target='_blank'
				rel='noreferrer'
				href='https://linkedin.com/in/edusdorneles'
				aria-label='Link que redireciona para o LinkedIn'
				class='bg-slate-200 transition-all dark:bg-slate-800 hover:bg-slate-300 dark:hover:bg-slate-700 cursor-pointer w-full p-3 rounded-xl flex flex-row items-center justify-between'
			>
				<Linkedin class='text-zinc-800 dark:text-white' />
			</a>

			<a
				target='_blank'
				rel='noreferrer'
				href='https://github.com/edusdorneles'
				aria-label='Link que redireciona para o GitHub'
				class='bg-slate-200 transition-all dark:bg-slate-800 hover:bg-slate-300 dark:hover:bg-slate-700 cursor-pointer w-full p-3 rounded-xl flex flex-row items-center justify-between'
			>
				<Github class='text-zinc-800 dark:text-white' />
			</a>

			<a
				target='_blank'
				rel='noreferrer'
				href='https://www.instagram.com/edusdorneles/'
				aria-label='Link que redireciona para o Instagram'
				class='bg-slate-200 transition-all dark:bg-slate-800 hover:bg-slate-300 dark:hover:bg-slate-700 cursor-pointer w-full p-3 rounded-xl flex flex-row items-center justify-between'
			>
				<Instagram class='text-zinc-800 dark:text-white' />
			</a>
		</section>

		<section class='max-w-96 px-4 md:px-0 flex flex-col items-center justify-center gap-2'>
			<h1 class='text-zinc-800 dark:text-white text-xl text-medium'>Eduardo Dorneles</h1>

			<p class='text-zinc-500 dark:text-slate-400'>Tech Lead | Software Engineer</p>

			<p class='text-center text-zinc-800 dark:text-white'>
				Na área há mais de 5 anos, trabalhei em projetos<br/>nos quais impactam mais de 2 milhões de clientes.
			</p>
		</section>
	</div>
</main>
